DEBUG=True
BOT_TOKEN=token
ADMIN_IDS=admin1Id,admin2Id
API_BASE_URL=your_app_api_base_url # https://dishdash.ru/api/v1
BOT_URL=bot_url
BOT_USERNAME=bot_username
FEEDBACK_CHAT_ID=feedback_chat_id
FRONTEND_URL=frontend_url
HTTP_PORT=3500
S3_ACCESS_KEY_ID=s3_access_key_id
S3_ACCESS_KEY=s3_access_key
WHISPER_API_KEY=whisper_api_key
